# Environments
venv/
env/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Windows system files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/
._*